[submodule "DgTemp-Firmware/src/pidlib"]
	path = DgTemp-Firmware/src/pidlib
	url = https://github.com/TU-Darmstadt-APQ/PID-CPP.git
[submodule "DgTemp-Firmware/src/AD5680"]
	path = DgTemp-Firmware/src/AD5680
	url = https://github.com/TU-Darmstadt-APQ/AD5680.git

